{% extends 'index.html' %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <center>
        <h2>Student SignUp</h2>
    </center>
    <center>
        <div style="border: 2px solid black ; padding-bottom:15px;">

            <div class=" max-w-xs sm:flex-row mt-4 sm:items-center"></div>
            <label style="color: black; font-weight: bold;font-size:large;" for="firstname">Firstname</label>
            <input class="px-2 py-1 bg-transparent border-white border-2 h-lg mt-2 rounded " name="fname" type="text"
                placeholder="firstname" style="color: black;" required />

            <div class=" max-w-xs sm:flex-row mt-4 sm:items-center"></div>
            <label style="color: black; font-weight: bold;font-size:large;" for="lastname">Lastname</label>
            <input class="px-2 py-1 bg-transparent border-white border-2 h-lg mt-2 rounded " style="color: black;"
                name="lname" type="text" placeholder="lastname" required />


            <div class=" max-w-xs sm:flex-row mt-4 sm:items-center"> </div>
            <label style="color: black; font-weight: bold;font-size:large;" for="studentID">Student ID</label>
            <input class="px-2 py-1 bg-transparent border-white border-2 h-lg mt-2 rounded " style="color: black;"
                name="sid" type="text" id="studentID" placeholder="studentID" required />


            <div class=" max-w-xs sm:flex-row mt-4 sm:items-center"></div>
            <label style="color: black; font-weight: bold;font-size:large;" for="password">Password</label>
            <input class="px-2 py-1 bg-transparent border-white border-2 h-lg mt-2 rounded " style="color: black;"
                name="password" type="password" placeholder="password" required />
            <br>
            <br>
            <button class="text-black hover:shadow-md text-xl rounded bg-black-500 px-4 py-2 mt-8 "
                type="submit">Submit</button>
            <br>
            <br>
            <p>Already registered?<a href="/login/">Log In</a></p>
        </div>
    </center>
</form>

{% endblock content %}